[submodule "ai"]
	path = ai
	url = git@github.com:oy3o/ai.git
[submodule "bot"]
	path = bot
	url = git@github.com:oy3o/bot.git
[submodule "chat"]
	path = chat
	url = git@github.com:oy3o/chat.git
[submodule "dataflow"]
	path = dataflow
	url = git@github.com:oy3o/dataflow.git
[submodule "editor"]
	path = editor
	url = git@github.com:oy3o/editor.git
[submodule "input"]
	path = input
	url = git@github.com:oy3o/input.git
[submodule "statelist"]
	path = statelist
	url = git@github.com:oy3o/statelist.git
[submodule "translator"]
	path = translator
	url = git@github.com:oy3o/translator.git
[submodule "xray"]
	path = xray
	url = git@github.com:oy3o/xray.git
